language: python
branches:
  only:
  - master
install:
- pip install pelican
script:
- $(npm bin)/set-up-ssh --key "$encrypted_d5bd62f799ff_key" --iv "$encrypted_d5bd62f799ff_iv" --path-encrypted-key ".travis/blog_deploy_key.enc"
- make dbg
- make publish
- make github

env:
  global:
